/*  ==========================================================================
    @title: btn
    @desc : boton
    @tag  : <button>, <a>
    ========================================================================== */

$btn-color-primary  : $primaryColour;
$btn-color-secondary: $secondaryColour;

@mixin btnBackground ($primaryColour, $secondaryColour) {
    background-color: $primaryColour;

    &:active {
        background-color: $secondaryColour;
    }

    &:focus,
    &:hover {
        background-color: $secondaryColour;
    }
}

// <button>, <a>
.btn {
    @extend %box-no-select;
    @extend %input-reset;

    /* box model */
    display: inline-block;
    padding: 0.6em 0.8em;

    /* typography */
    color: $white;
    font-size: 0.95em;
    font-weight: $fontWeight-semiBold;
    text-decoration: none;
    white-space: nowrap;

    // btn primary color
    &--primary {
        @include btnBackground($btn-color-primary, $btn-color-secondary);
    }

    // btn secondary color
    &--secondary {
        @include btnBackground($btn-color-secondary, $btn-color-primary);
    }
    
    &--block {
        display: block;
        width: 100%;
    }
    
    &--lg {
        //
    }

    &--sm {
        //
    }
}
