/*  ==========================================================================
    Form component
    ========================================================================== */


// <form>
.form {

}

// <div>
// contenedor de controles
.form-group {
    margin-bottom: 0.6em;

    &--error {

    }

    &--warning {

    }

    &--info {

    }

    &--success {

    }
}

/*  estilos para los controles de formulario
    ========================================================================== */
// <input>, <select>
// estilos para los controles del formulario
%form-control {

}

// <input>, <select>
// estilos para los controles del formulario
.form-control {
    @extend %input-reset;
    display: block;
    width: 100%;

    &[type=text],
    &[type=tel],
    &[type=email] {
        @extend %form-control;
    }

    &--lg {

    }

    &--sm {

    }
    
    &--active {
        
    }
}

// <textarea>
textarea.form-control {
    @extend %form-control;
}


// <label>
.form-control-label {
    
}
