.googleMap {
	position: relative;

	&-overlay {
		background: transparent;
		height: 100%;
		width: 100%;

        /* position */
		left: 0;
		position: absolute;
		top: 0;
		z-index: 11;
	}

	&-map {
		background-color: $primaryColour;
		display: block;

        /* box model */
		height: 100vh;
		min-height: 350px;
		width: 100%;
	}

    @include hasta (small) {
        
        &-map {
    		max-height: 480px;
    	}
    };
}
