//	Custom styles for tags
//  --------------------------------------------------------------------------

html {
	background-color      : $color-body;
	color                 : $color-text;
	font-family           : $font-family-content;
	font-size             : 14px;

	@include desde(md) {
		font-size: 16px;
	};
}

hr {
	border       : none;
	border-bottom: solid 1px $color-text;
	margin-bottom: 18px;
	margin-top   : 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
}

h1 { font-size: $font-size-h1 }
h2 { font-size: $font-size-h2 }
h3 { font-size: $font-size-h3 }
h4 { font-size: $font-size-h4 }
h5 { font-size: $font-size-h5 }
h6 { font-size: $font-size-h6 }

p {
	$paragraph-margin-top: 0;
	$paragraph-margin-bottom: $space-2;
}

a {
	color: inherit;
}
