/*  ==========================================================================
    @title: btn
    @desc : boton
    @tag  : <button>, <a>
    ========================================================================== */

$btn-red  : #FF4842;
$btn-green: #7DCD40;

// <button>, <a>
.btn {
    @extend %box-no-select;
    @extend %input-reset;
    @extend %eff-scale;
    border-radius: .4em;
    box-shadow: inset 0 -0.2em rgba(0,0,0,.3);

    /* box model */
    display: inline-block;
    padding: 0.6em 0.8em 0.8em;

    /* typography */
    color: $white;
    font-size: 0.95em;
    font-weight: $fontWeight-semiBold;
    white-space: nowrap;

    /* transition */
    transition-duration: 0.2s;
    transition-property: background-color, transform;
    transition-timing-function: ease;
}

// <button>, <a>
.btn--red {
    background-color: $btn-red;

    &:active {
        background-color: $btn-green;
    }

    &:focus,
    &:hover {
        background-color: $btn-green;
    }
}

// <button>, <a>
.btn--green {
    background-color: $btn-green;

    &:active {
        background-color: $btn-red;
    }

    &:focus,
    &:hover {
        background-color: $btn-red;
    }
}

// <button>, <a>
.btn--link {
    @extend %is-link;
}
