/*  ==========================================================================
    Header pincipal
    ========================================================================== */

$height-mobile: 60px;
$height-desktop: 90px;

// shared styles header
%header {
    /* box model */
    display: block;
    height: $height-mobile;
    min-height: $height-mobile;
    width: 100%;

    @include desde (header) {
        height: $height-desktop;
        min-height: $height-desktop;
    };
}

// <header>
.header {
    @extend %header;
    transform: translate3d(0,0,0) translateY(0);
    transition: background-color 0.3s linear,
                box-shadow 0.3s linear;

    position: relative;
    z-index: 99;

    // <div>
    &-helper {
        @extend %header;
    }

    // fija el header arriba de la ventana
    &--fixed {
        /* position */
        position: fixed;
        top: 0;
    }

    // esconde el header
    &--hidden {
        transform: translate3d(0, -100%, 0);
    }

    // añade la transicion al header
    &--transition {
        transition: transform 0.5s ease,
                    box-shadow 0.3s linear;
    }
}
