/*  ==========================================================================
    Page component reusable
    ========================================================================== */


//  Contenedor principal
//  @tag <div>
.page {

    /* box model */
    display: block;
    width: 100%;
}

//  Contenedor de las barras
//  @tag <div>
.page-wrapper {

    /* box model */
    width: 100%;

    /* flex */
    @extend %flex-column;

    @include desde ('large') {

        /* flex */
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    };
}

//  Barra lateral
//  @tag <div>
.page-side {

    /* box model */
    flex: none;
    width: 100%;

    @include desde ('large') {

        /* box model */
        width: calc(33.3333% - 10px);
    };
}

//  Barra principal
//  @tag <div>
.page-main {

    /* box model */
    flex: none;
    width: 100%;

    @include desde ('large') {

        /* box model */
        width: calc(67.7777% - 10px);
    };
}

//  Bloque
//  @tag <section>
.page-block {

}

//  Cabezera del bloque
//  @tag <header>
.page-header {

    //  Titulo
    //  @tag <h2>
    .page-title {

    }
}

//  Body del bloque
//  @tag <div>
.page-body {

}
