/*  ==========================================================================
    Clases globales
    ========================================================================== */
   
.wochap-main {
    display: block;
    width: 100%;
}


// <body>
// overlay
.wochap-overlay {
    position: relative;

    &::after {
        background-color: rgba($black, 0.6);
        content: "";
        opacity: 0;
        transition: opacity 0.3s linear;
        visibility: hidden;

        display: block;
        height: 100%;
        width: 100%;

        left: 0;
        position: fixed;
        top: 0;
        z-index: 99;
    }

    &--active {

        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}


// <button>
// toggle menu mobil
.wochap-toggle {
    $primaryColour: blue;
    $toggle-em-duration: 0.3s;

    display: block;
	position: relative;
    height: 25px;
    width: 30px;

	em {
		background-color: $primaryColour;
        border-radius: 2px;

		/* position */
        left: 0;
        position: absolute;

		/* box model */
        display: block;
        height: 4px;
        width: 100%;

		/* efecto */
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation: toggle-em#{$i}-uncheck $toggle-em-duration;
                animation-fill-mode: both;
                animation-timing-function: linear;
            }
        }

		&:nth-child(1) {
            top: 0;
            transform: rotate(0);
        }

        &:nth-child(2) {
            top: 10px;
        }

        &:nth-child(3) {
            top: 20px;
        }
	}

	&--active {
		em {
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					animation: toggle-em#{$i}-check $toggle-em-duration;
					animation-fill-mode: both;
					animation-timing-function: linear;
				}
			}
		}
	}
}
