/*  ==========================================================================
    Mixins
    @desc:  Para hacer uso de los mixins basta con
    @use:   @include [mixin's name]
    @examp: @mixin name ($param) {
                [css's attribute]: $param;
            }
    ========================================================================== */


/**
 * Custom media query
 * @param {Number} $size
 * @param {String} $prop
 * @requires $size
 */
@mixin respond-to-custom ($size, $prop:'min-width') {
    @media only screen and (#{$prop}: #{$size}) {
        @content;
    }
}

/**
 * Responsive manager
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
@mixin respond-to ($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

		@media only screen and #{$query} {
			@content;
		}
	} @else {
		@error 'No value found for `#{$breakpoint}`. '
				 + 'Please make sure it is defined in `$breakpoints` map.';
	}
}

/**
 * Cambia el color del placeholder de cualquier input
 * @param {String} $color - color
 * @requires $color
 **/
@mixin placeholder ($color, $fontWeight:400) {
    &::-webkit-input-placeholder {
        color: $color;
        font-weight: $fontWeight;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-weight: $fontWeight;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
        font-weight: $fontWeight;
    }

    &:-ms-input-placeholder {
        color: $color;
        font-weight: $fontWeight;
    }
}
