/*  ==========================================================================
    Mixins
    @desc:  Para hacer uso de los mixins basta con
    @use:   @include [mixin's name]
    @examp: @mixin name ($param) {
                [css's attribute]: $param;
            }
    ========================================================================== */


/*  MEDIA QUERIES
    ========================================================================== */

/**
 * Mixins para media queries
 * @param {Number} $size
 * @requires $size
 */
@mixin hasta ($size) {
	@if map-has-key($breakpoints, $size) {
    // Si el parámetro es el nombre de un tamaño, se extrae desde el map
		@media screen and (max-width: map-get($breakpoints, $size) - 1) {
			@content;
		}
	} @else {
    // Si el parámetro no existe en el map, se toma su valor para construir la media query
		 @media screen and (max-width: $size) {
			@content;
		}
	}
}

@mixin desde ($size) {
	@if map-has-key($breakpoints, $size) {
    // Si el parámetro es el nombre de un tamaño, se extrae desde el map
		@media screen and (min-width: map-get($breakpoints, $size)) {
			@content;
		}
	} @else {
    // Si el parámetro no existe en el map, se toma su valor para construir la media query
		 @media screen and (min-width: $size) {
			@content;
		}
	}
}

@mixin desde-hasta ($desde, $hasta) {
	@if map-has-key($breakpoints, $desde) and map-has-key($breakpoints, $hasta) {
		@media screen and (min-width: map-get($breakpoints, $desde)) and (max-width: map-get($breakpoints, $hasta) - 1) {
			@content;
		}
	} @else if map-has-key($breakpoints, $desde) and not map-has-key($breakpoints, $hasta) {
		@media screen and (min-width: map-get($breakpoints, $desde)) and (max-width: $hasta) {
			@content;
		}
	} @else if not map-has-key($breakpoints, $desde) and map-has-key($breakpoints, $hasta) {
		@media screen and (min-width: $desde) and (max-width: map-get($breakpoints, $hasta) - 1) {
			@content;
		}
	} @else {
		@media screen and (min-width: $desde) and (max-width: $hasta) {
			@content;
		}
	}
}


/*  Layout
    ========================================================================== */

// Mixins para cuadriculas
// Se aplica al contendor de la cuadricula.
// Los parámetros son el selector de cada item y el número de columnas
// El tercer parámetro (opcional) es la separacion entre columnas (en porcentaje)
@mixin cuadricula ($items, $columnas, $separacion : 2%) {
	// por si el contenedor es un ul
	@if $items == li {
		margin     : 0;
		padding    : 0;
		list-style : none;

		li {
			margin-left: 0;
		}
	}

    // Limpiar los floats para el contenedor
	&:before, &:after {
		clear   : both;
		content : " ";
		display : table;
		width   : 100%;
	}

	& > #{$items}, & > .#{$items}{
		float          : left;
		width          : (100% - $separacion * ($columnas - 1)) / $columnas;
		margin-right   : $separacion;
		margin-bottom  : $separacion;

        //Limpiar el float para el último elemento de cada fila
		&:nth-child(#{$columnas}n){
			margin-right : 0;
			clear        : right;
		}

        //Limpiar el float para el primer elemento de cada fila
		&:nth-child(#{$columnas}n+1){
			clear        : left;
		}
	}
}


/*  Inputs
    ========================================================================== */

/**
 * Cambia el color del placeholder de cualquier input
 * @param {String} $color - color
 * @requires $color
 **/
@mixin placeholder ($color, $fontWeight:400) {
    &::-webkit-input-placeholder {
        color: $color;
        font-weight: $fontWeight;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-weight: $fontWeight;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
        font-weight: $fontWeight;
    }

    &:-ms-input-placeholder {
        color: $color;
        font-weight: $fontWeight;
    }
}


/*  Flex helpers
    ========================================================================== */

@mixin flex-row () {
	display: flex;
	flex-direction: row;
}

@mixin inline-flex-row () {
	display: inline-flex;
	flex-direction: row;
}

@mixin flex-column () {
	display: flex;
	flex-direction: column;
}

@mixin inline-flex-column () {
	display: inline-flex;
	flex-direction: column;
}

@mixin flex-center () {
	align-items: center;
	justify-content: center;
}


/*  Decorators
    ========================================================================== */

/**
 * Css hack,
 * @param {String} $topColor
 * @param {String} $botColor
 * @param {Integer} $size
 * @requires $topColor, $botColor, $size
 **/
@mixin jaggedBorder ($topColor, $botColor, $size) {
    background: linear-gradient(-135deg, $topColor $size/2, transparent 0) 0 $size/2,
                linear-gradient(135deg, $topColor $size/2, $botColor 0) 0 $size/2;
    background-size: $size $size;
    background-repeat: repeat-x;
    background-position: center center;
}
@mixin be-jagged ($topColor, $botColor, $size) {
    & {
        @include jaggedBorder ($topColor, $botColor, $size);
        content: "";

        /* position */
        left: 0;
        top: 100%;
        position: absolute;

        /* box model */
        display: block;
        height: $size;
        width: 100%;
    }
}


/*  Items
    ========================================================================== */
@mixin items-margin ($margin, $direction) {
	margin-#{$direction}: $margin;

	&:last-child {
		margin-#{$direction}: 0;
	}
}
