// nav
.MainMenu {

}

// ul
.MainMenu-container {

    /* box model */
    margin: 0;
    padding: 0;
}

// li
.MainMenu-option {
    list-style: none;
}

// a
.MainMenu-link {
    
    /* typography */
    text-decoration: none;
}
