/*  ==========================================================================
    @title: MainMenu
    @desc : menu principal de navegacion
    @tag  : <nav>
    ========================================================================== */

// <nav>
.MainMenu {

}

// <ul>
.MainMenu-container {
    @extend %no-list-style;
}

// <li>
.MainMenu-option {

}

// <a>
.MainMenu-link {
    @extend %is-link;
}
