/*  ==========================================================================
    Keyframes
    ========================================================================== */


/*  wochap-toggle, Menu mobil keyframes
    ========================================================================== */
@keyframes toggle-em1-check {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
        transform: rotate(0);
    }
    100% {
        top: 10px;
        transform: rotate(45deg);
    }
}

@keyframes toggle-em1-uncheck {
    0% {
        top: 10px;
        transform: rotate(45deg);
    }
    50% {
        top: 10px;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes toggle-em2-check {
    0% {

    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes toggle-em2-uncheck {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {

    }
}

@keyframes toggle-em3-check {
    0% {
        top: 20px;
    }
    50% {
        top: 10px;
        transform: rotate(0);
    }
    100% {
        top: 10px;
        transform: rotate(-45deg);
    }
}

@keyframes toggle-em3-uncheck {
    0% {
        top: 10px;
        transform: rotate(-45deg);
    }
    50% {
        top: 10px;
        transform: rotate(0);
    }
    100% {
        top: 20px;
        transform: rotate(0);
    }
}
