/**
 *  For use helpers
 *  @extend [helper's name]
 **/

/*  ==========================================================================
    Flex box
    ========================================================================== */
%flex-row {
	align-items: center;
	display: flex;
	flex-direction: row;
}

%flex-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

%flex-center {
	align-items: center;
	justify-content: center;
}

/*  ==========================================================================
    Font Sizes
    ========================================================================== */
%large {
	font-size: $fontSize-large;
}

%medium {
	font-size: $fontSize-medium;
}

%small {
	font-size: $fontSize-small;
}

%mini {
	font-size: $fontSize-mini;
}

/*  ==========================================================================
    Lists
    ========================================================================== */
%no-list-style {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

/*  ==========================================================================
    Links
    ========================================================================== */
%is-link {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/*  ==========================================================================
    Box
    ========================================================================== */
%cover {
	top   : 0;
	right : 0;
	bottom: 0;
	left  : 0;
}

%no-select {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/*  ==========================================================================
    Inputs Reset
    ========================================================================== */
%input-reset {
	border: 0;
	outline: 0;
	padding: 0;

	&:hover {
        will-change: transform;
    }
}

/*  ==========================================================================
    Images
    ========================================================================== */
%img-cover {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
