/**
 *  For use helpers
 *  @extend [helper's name]
 **/

/* =============================================================================
Flex box
========================================================================== */
%flex-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

%flex-column {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

%flex-center {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* =============================================================================
Font Sizes
========================================================================== */
%large {
	font-size: $fontSizeLarge;
}

%medium {
	font-size: $fontSizeMedium;
}

%small {
	font-size: $fontSizeSmall;
}

%mini {
	font-size: $fontSizeMini;
}

/* =============================================================================
Positions
========================================================================== */
%absolute {
	position: absolute;
}

%fixed {
	position: fixed;
}

%relative {
	position: relative;
}

%static {
	position: static;
}

/* =============================================================================
Lists
========================================================================== */
%no-list-style {
	list-style: none;
}

/* =============================================================================
Links
========================================================================== */
%text-decoration-none {
	text-decoration: none;
}

/* =============================================================================
More helpers
========================================================================== */
%cover {
	top   : 0;
	right : 0;
	bottom: 0;
	left  : 0;
}

%no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =============================================================================
Inputs Reset
========================================================================== */
%btn-reset {
	background-color: $transparent;
	border: 0;
	outline: 0;
	padding: 0;

	&:hover {
        will-change: transform;
    }
}
