/*  ==========================================================================
    Helpers
	@desc: Para hacer uso de los helpers basta con
    @use:  @extend [helper's name]
    ========================================================================== */


/*  Flex box
    ========================================================================== */
/* crea una caja flexible en filas */
%flex-row {
	display: flex;
	flex-direction: row;
}

%inline-flex-row {
	display: inline-flex;
	flex-direction: row;
}

/* crea una caja flexible en columnas */
%flex-column {
	display: flex;
	flex-direction: column;
}

%inline-flex-column {
	display: inline-flex;
	flex-direction: column;
}

/* centra el contenido de una caja flex */
%flex-center {
	align-items: center;
	justify-content: center;
}


/*  Headings
    ========================================================================== */
%heading-1 {
	font-size: $heading-1;
}
%heading-2 {
	font-size: $heading-2;
}
%heading-3 {
	font-size: $heading-3;
}
%heading-4 {
	font-size: $heading-4;
}
%heading-5 {
	font-size: $heading-5;
}
%heading-6 {
	font-size: $heading-6;
}


/*  Font Sizes
    ========================================================================== */
%fz-x-large {
	font-size: $fontSize-x-large;
}
%fz-large {
	font-size: $fontSize-large;
}
%fz-medium {
	font-size: $fontSize-medium;
}
%fz-small {
	font-size: $fontSize-small;
}
%fz-x-small {
	font-size: $fontSize-x-small;
}


/*  Lists
    ========================================================================== */
/* deshace los estilos de una lista <ul> que trae */
%no-list-style {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}


/*  Links
    ========================================================================== */
/* ux para links */
%is-link {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/*  Box model
    ========================================================================== */
/* centra un elemento, vertical u horizontal*/
/* https://css-tricks.com/centering-css-complete-guide/ */
%box-center {
	position: absolute;

	&-center {
		@extend %box-center;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	&-horizontal {
		@extend %box-center;
		left: 50%;
		transform: translateX(-50%);
	}

	&-vertical {
		@extend %box-center;
		top: 50%;
		transform: translateY(-50%);
	}
}

/* hace que el emennto cubra a su elemento padre */
%box-cover {
	position: absolute;
	top   : 0;
	right : 0;
	bottom: 0;
	left  : 0;
}

/* vuelve un elemento redondo */
%box-circle {
	border-radius: 9999px;
	border-radius: 50%;
}

/* deshabilita la seleccion */
%box-no-select {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*  Inputs reset
    ========================================================================== */
/* deshace la apariencia de los inputs traen por defecto */
%input-reset {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	outline: 0;
	padding: 0;

	&:hover {
        will-change: transform;
    }
}


/*  Images
    ========================================================================== */
/* la imagen cubre todo el alto y ancho del elemento padre */
%img-cover {
	display: block;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
}


/*  Effects
    ========================================================================== */
/* UX efecto scale al cliquear un elemento */
%eff-scale {
	cursor: pointer;
	display: inline-block;
	transform: scale(1);

	/* transition */
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease;

	&:active {
		transform: scale(0.9);
	}
}


/*  Botones
    ========================================================================== */
/* Helper para botones con iconos y texto */
%btn-icon {
	&>div {
		overflow: hidden;

		/* flex */
		@include flex-row;
		align-items: center;

		&>i,
		&>span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
