.u-hidden {
    display: none !important;
}

.u-show {
    display: block !important;
}

.u-invisible {
    visibility: hidden !important;
}

.u-hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

// contenedor general
.u-wrapper {
    display: block;
    margin: 0 auto;
    max-width: $max-width;
    width: 100%;
}
