/*  ==========================================================================
    Typography configuration
    ========================================================================== */
$fontSize-large : 18px;
$fontSize-medium: 16px;
$fontSize-small : 14px;
$fontSize-mini  : 11px;

$baseFontSize  : $fontSize-medium;

$fontWeight-extraBold : 800;
$fontWeight-bold      : 700;
$fontWeight-semiBold  : 600;
$fontWeight-normal    : 400;
$fontWeight-light     : 300;

$heading-1: 2.9rem;
$heading-2: 2rem;
$heading-3: 1.8rem;
$heading-4: 1.1rem;
$heading-5: 1.1rem;
$heading-6: 1.1rem;

$headingFontFamily : ('Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$contentFontFamily : ('Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);

/*  ==========================================================================
    Colors
    ========================================================================== */
$primaryColour    : $red;   // colour of text and main colour overall
$secondaryColour  : $blue;  // colour of any components, backgrounds, etc.
$tertiaryColour   : $green; // special colour to complement secondary colour
//background colour. Should be the opposite of primary colour for good results
$bodyTextColour   : $dark-black;
$bodyBackground   : $white;

/*  ==========================================================================
    HTML 5 feature colors
    ========================================================================== */
// used with the `ins` tag
// http://www.w3schools.com/tags/tag_ins.asp
$ins-color            : $yellow;

// used with the `mark` tag
// http               ://www.w3schools.com/html5/tag-mark.asp
$mark-color           : $yellow;

// webkit tap highlight color
$webkit-tap-hightlight: $blue;

// overrides the default content selection color in the browser
$selection-background-color : $blue;
$selection-text-color       : $white;

/*  ==========================================================================
    More config
    ========================================================================== */
$max-width: 1200px;
$min-width: 250px;

/*  ==========================================================================
    Directories
    ========================================================================== */
$path   : '/public/';
$fontPath: "../fonts/";
$imgPath : "../img/";
