$device-x-large : 'only screen and (max-width: 1200px)';
$device-large   : 'only screen and (max-width:  992px)';
$device-medium  : 'only screen and (max-width:  768px)';
$device-small   : 'only screen and (max-width:  375px)';

$breakpoints: (
    'small'   : (min-width: 375px),
    'medium'  : (min-width: 768px),
    'large'   : (min-width: 992px),
    'x-large' : (min-width: 1200px),
);
