/*  ==========================================================================
    Media Queries
    ========================================================================== */

/* Breakpoints */
$device-x-large : 1200px;
$device-large   : 992px;
$device-medium  : 768px;
$device-small   : 480px;
$device-x-small : 320px;

/* Breakpoints list for respond-to mixin */
$breakpoints: (
    'x-large' : $device-x-large,
    'large'   : $device-large,
    'medium'  : $device-medium,
    'small'   : $device-small,
    'x-small' : $device-x-small,
);
