/*  ==========================================================================
    Media Queries
    ========================================================================== */

/* Breakpoints */
$device-x-large : #{$max-width};
$device-large   : 992px;
$device-medium  : 768px;
$device-small   : 375px;

/* Arreglo de breakpoints usados para un mixin */
$breakpoints: (
    'x-large' : (min-width: #{$max-width}),
    'large'   : (min-width: 992px),
    'medium'  : (min-width: 768px),
    'small'   : (min-width: 375px),
);
