//  Configuracion global
//  ==========================================================================


//	Espacios
//  --------------------------------------------------------------------------
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;


//  Typography
//  --------------------------------------------------------------------------
$font-family-heading : ('Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$font-family-content : ('Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$font-family-icon    : 'icomoon';

$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.25;

$paragraph-margin-top: 0;
$paragraph-margin-bottom: $space-2;


//  Colours
//  --------------------------------------------------------------------------
$color-primary   : $red;   // colour of text and main colour overall
$color-secondary : $blue;  // colour of any components, backgrounds, etc.
$color-tertiary  : $green; // special colour to complement secondary colour

$color-text : $dark-black;
$color-body : $white;

$color-link : $blue;


//  Wrapper
//  --------------------------------------------------------------------------
$gutter      : 1rem;
$max-width   : 1170px;
$max-width-lg: 970px;
$max-width-md: 750px;


//  Directories
//  --------------------------------------------------------------------------
$path-font-base: "../../fonts/base-font/";
$path-font-icon: "../../fonts/icon-font/";
$path-img      : "../../img/";
