// @import this file to make your UI adhere better to the Material UI guidelines
// This will intentionally overwrite the behaviour of plain HTML tags

html {
	-webkit-font-smoothing: antialiased;
	background-color      : $bodyBackground;
	color                 : $bodyTextColour;
	font-family           : $contentFontFamily;
	font-size             : $baseFontSize;
}

hr {
	border       : none;
	border-bottom: solid 1px $bodyTextColour;
	margin-bottom: 18px;
	margin-top   : 0;
}

h1 {
	@extend %heading-1;
}

h2 {
	@extend %heading-2;
}

h3 {
	@extend %heading-3;
}

h4 {
	@extend %heading-4;
}

h5 {
	@extend %heading-5;
}

h6 {
	@extend %heading-6;
}

a {
	color: inherit;
}
