// @import this file to make your UI adhere better to the Material UI guidelines
// This will intentionally overwrite the behaviour of plain HTML tags

html {
	-webkit-font-smoothing: antialiased;
	background-color      : $body-canvas-color !default;
	color                 : $textColour !default;
	font-family           : $contentFontFamily !default;
}

body {
	font-size: $baseFontSize !default;
}

hr {
	border-bottom: solid 1px $black;
	border       : none;
	margin-bottom: 18px;
	margin-top   : 0;
}

h1 {
	font-size: $heading-1;
}

h2 {
	font-size: $heading-2;
}

h3 {
	font-size: $heading-3;
}

h4 {
	font-size: $heading-4;
}

h5 {
	font-size: $heading-5;
}

h6 {
	font-size: $heading-6;
}
